@import "vendor/neat/neat-helpers";

$column: 50px !default;
$gutter: 40px !default;
$grid-columns: 12 !default;
$max-width: 880px !default;
$border-box-sizing: false !default;
$default-feature: min-width !default;
$default-layout-direction: LTR !default;

$visual-grid: false !default;
$visual-grid-color: black !default;
$visual-grid-index: front !default;
$visual-grid-opacity: 0.10 !default;
$visual-grid-breakpoints: () !default;

$desktop: new-breakpoint(min-width 961px, 12);
$tablet: new-breakpoint(max-width 960px min-width 768px, 12);
$tablet-down: new-breakpoint(max-width 960px, 12);
$mobile-up: new-breakpoint(min-width 768px, 12);
$mobile: new-breakpoint(max-width 767px, 12);

// Colors

$color-one: #ffffff;
$color-two: #252525; 
$color-three: #252525;
$color-four: #60bb52;
$color-five: #00a2dd;
$color-six: #ec5b66;
 
// Typography


$body-font-family: Arial, sans-serif;
$body-font-weight: normal;
$body-letter-spacing: 0px;
$body-line-height: 1.5;

$header-font-family: Arial, sans-serif;
$header-font-weight: bold;
$header-letter-spacing: 0;

$h1-font-size: 5.0rem;
$h2-font-size: 2.8rem;
$h3-font-size: 2.2rem;
$h4-font-size: 1.6rem;