/* Theme
  ==========================================================================

  1.0 Base
    1.1 General
    1.2 Typography
    1.3 Forms
  2.0 Layout
    2.1 Blocks
    2.2 Grid
    2.3 Helpers
  3.0 Module
    3.1 Sections
    3.2 Parts
    3.3 Navigation
  4.0 State
    4.2 Plugins
    4.1 Animations

*/
/* 1.0 Base
  ========================================================================== */
/* 1.1 General
  -------------------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 62.5%; }
  @media screen and (max-width: 767px) {
    html {
      font-size: 50%; } }

form {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 1.5;
  color: #252525;
  overflow-x: hidden;
  background-color: #00a2dd;
  background-image: -webkit-linear-gradient(#00a2dd, #60bb52);
  background-image: linear-gradient(#00a2dd, #60bb52);
  background-attachment: fixed; }
  body > div, body form {
    font-size: 1.4rem; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

figure {
  margin: 0; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

hr {
  margin: 7.5% 0;
  height: 1px;
  border: none;
  background: rgba(0, 0, 0, 0.05); }

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0; }

/* 1.2 Typography
  -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  color: #00a2dd; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #00a2dd; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #ec5b66; }

h1 {
  font-size: 5rem;
  line-height: 1.25; }

h2 {
  font-size: 2.8rem;
  line-height: 1.25; }

h3 {
  font-size: 2.2rem;
  line-height: 1.25; }

p {
  margin: 25px 0; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

/* 1.3 Forms
  -------------------------------------------------------------------------- */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  color: inherit; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

legend {
  padding: 0;
  border: 0; }

label {
  padding: 0 5px 0 0;
  display: block;
  font-weight: normal; }

input, textarea {
  padding: 0 15px;
  width: 100%;
  height: 40px;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  border: 1px solid #cccccc;
  background: white;
  box-shadow: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  input:focus, textarea:focus {
    outline: none;
    background: #ffffff; }

#site-main select {
  padding: 0 15px;
  width: 100%;
  height: 40px;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  border: 1px solid #cccccc;
  background: white;
  box-shadow: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  #site-main select:focus {
    outline: none;
    background: #ffffff; }

textarea {
  padding: 15px;
  height: 200px;
  line-height: 1.5;
  resize: vertical; }

input[type="submit"] {
  margin: 2.5% 0 0 0;
  padding: 0 45px;
  width: auto;
  min-width: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  line-height: 0;
  color: #ffffff;
  border: 1px solid #00a2dd;
  background: #00a2dd; }
  input[type="submit"]:hover {
    border: 1px solid #60bb52;
    background: #60bb52; }
  input[type="submit"].grey {
    border: 1px solid #b7b7b7;
    background: #b7b7b7; }
    input[type="submit"].grey:hover {
      border: 1px solid #60bb52;
      background: #60bb52; }

/* 2.0 Layout
  ========================================================================== */
/* 2.1 Blocks
  -------------------------------------------------------------------------- */
#site-wrap {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed; }

.carousel .carousel-page {
  position: relative; }

.slick-slider,
.slick-list,
.slick-track,
.slick-slide {
  height: 100%; }

.page-header {
  padding: 2.5% 0;
  position: relative;
  background: #60bb52; }
  .page-header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5%;
    height: 5%; }
  .page-header .row {
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    table-layout: fixed; }
    .page-header .row .header-left {
      display: table-cell;
      width: 50%;
      vertical-align: middle; }
      .page-header .row .header-left .header-logo {
        font-weight: bold;
        text-transform: uppercase; }
    .page-header .row .header-right {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
      text-align: right; }

.page-main {
  padding: 5% 0; }

/* 2.2 Grid
  -------------------------------------------------------------------------- */
.container {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 767px) {
    .container {
      padding: 0 20px; } }

/* 2.3 Helpers
  -------------------------------------------------------------------------- */
.section > *:first-child,
.section > *:first-child > *:first-child,
.section > *:first-child > *:first-child > *:first-child {
  margin-top: 0 !important; }

.section > *:last-child,
.section > *:last-child > *:last-child,
.section > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0 !important; }

/* 3.0 Module
  ========================================================================== */
/* 3.1 Sections
  -------------------------------------------------------------------------- */
/* 3.2 Parts
  -------------------------------------------------------------------------- */
#user-list {
  display: block; }
  #user-list:after {
    content: "";
    display: table;
    clear: both; }
  #user-list .user {
    float: left;
    display: block;
    margin-right: 3.84615%;
    width: 30.76923%;
    padding: 5% 0;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff; }
    #user-list .user:last-child {
      margin-right: 0; }
    #user-list .user:nth-child(3n) {
      margin-right: 0; }
    #user-list .user:nth-child(3n+1) {
      clear: left; }
    #user-list .user a {
      display: block; }
      #user-list .user a img {
        margin: 0 auto 5% auto;
        border-radius: 100%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); }

/* 3.3 Navigation
  -------------------------------------------------------------------------- */
a:link, a:visited, a:active {
  text-decoration: none;
  color: #ffffff; }
  a:link:hover, a:visited:hover, a:active:hover {
    color: #ffffff; }

/* 4.0 State
  ========================================================================== */
/* 4.1 Plugins
  -------------------------------------------------------------------------- */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* 4.2 Animations
  -------------------------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
