@import
  "vendor/bourbon/bourbon",
  "settings",
  "vendor/neat/neat";

/* Theme
  ==========================================================================

  1.0 Base
    1.1 General
    1.2 Typography
    1.3 Forms
  2.0 Layout
    2.1 Blocks
    2.2 Grid
    2.3 Helpers
  3.0 Module
    3.1 Sections
    3.2 Parts
    3.3 Navigation
  4.0 State
    4.2 Plugins
    4.1 Animations

*/

/* 1.0 Base
  ========================================================================== */

/* 1.1 General
  -------------------------------------------------------------------------- */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  @include media($mobile) {
    font-size: 50%;
  }
}

form {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  font-family: $body-font-family;
  font-size: 1.4rem;
  font-weight: $body-font-weight;
  letter-spacing: $body-letter-spacing;
  line-height: $body-line-height;
  color: $color-three;
  overflow-x: hidden;
  @include linear-gradient($color-five, $color-four);
  background-attachment: fixed;
  > div, form {
    font-size: 1.4rem;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

figure {
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  margin: 7.5% 0;
  height: 1px;
  border: none;
  background: rgba(black, 0.05);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

/* 1.2 Typography
  -------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: $body-font-family;
  font-weight: $header-font-weight;
  letter-spacing: $header-letter-spacing;
  color: $color-five;
  a {
    color: $color-five;
    &:hover {
      color: $color-six;
    }
  }
}

h1 {
  font-size: $h1-font-size;
  line-height: 1.25;
}

h2 {
  font-size: $h2-font-size;
  line-height: 1.25;
}

h3 {
  font-size: $h3-font-size;
  line-height: 1.25;
}

p {
  margin: 25px 0;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* 1.3 Forms
  -------------------------------------------------------------------------- */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
  border: 0;
}

label {
  padding: 0 5px 0 0;
  display: block;
  font-weight: normal;
}

input, textarea {
  padding: 0 15px;
  width: 100%;
  height: 40px;
  font-family: $body-font-family;
  font-size: 1.6rem;
  border: 1px solid #cccccc;
  background: white;
  box-shadow: none;
  @include transition(all 0.25s ease-in-out);
  &:focus {
    outline: none;
    background: $color-one;
  }
}

#site-main select {
  padding: 0 15px;
  width: 100%;
  height: 40px;
  font-family: $body-font-family;
  font-size: 1.6rem;
  border: 1px solid #cccccc;
  background: white;
  box-shadow: none;
  @include transition(all 0.25s ease-in-out);
  &:focus {
    outline: none;
    background: $color-one;
  }
}

textarea {
  padding: 15px;
  height: 200px;
  line-height: $body-line-height;
  resize: vertical;
}

input[type="submit"] {
  margin: 2.5% 0 0 0;
  padding: 0 45px;
  width: auto;
  min-width: 0;
  font-family: $header-font-family;
  text-transform: uppercase;
  line-height: 0;
  color: $color-one;
  border: 1px solid $color-five;
  background: $color-five;
  &:hover {
    border: 1px solid $color-four;
    background: $color-four;
  }
  &.grey {
    border: 1px solid #b7b7b7;
    background: #b7b7b7;
    &:hover {
      border: 1px solid $color-four;
      background: $color-four;
    }
  }
}

/* 2.0 Layout
  ========================================================================== */

/* 2.1 Blocks
  -------------------------------------------------------------------------- */

#site-wrap {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.carousel {
  .carousel-page {
    position: relative;
  }
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide {
  height: 100%;
}

.page-header {
  padding: 2.5% 0;
  position: relative;
  background: $color-four;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5%;
    height: 5%;
  }
  .row {
    @include row(table);
    .header-left {
      @include span-columns(6);
      vertical-align: middle;
      .header-logo {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .header-right {
      @include span-columns(6);
      vertical-align: middle;
      text-align: right;
    }
  }
}

.page-main {
  padding: 5% 0;
}

/* 2.2 Grid
  -------------------------------------------------------------------------- */

.container {
  @include outer-container;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  @include media($mobile) {
    padding: 0 20px;
  }
}

/* 2.3 Helpers
  -------------------------------------------------------------------------- */

.section > *:first-child,
.section > *:first-child > *:first-child,
.section > *:first-child > *:first-child > *:first-child {
  margin-top: 0 !important;
}

.section > *:last-child,
.section > *:last-child > *:last-child,
.section > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0 !important;
}

/* 3.0 Module
  ========================================================================== */

/* 3.1 Sections
  -------------------------------------------------------------------------- */

/* 3.2 Parts
  -------------------------------------------------------------------------- */

#user-list {
  @include row;
  .user {
    @include span-columns(4);
    @include omega(3n);
    padding: 5% 0;
    font-size: 1.8rem;
    text-align: center;
    color: $color-one;
    a {
      display: block;
      img {
        margin: 0 auto 5% auto;
        border-radius: 100%;
        box-shadow: 0 2px 2px rgba(black, 0.25);
      }
    }
  }
}

/* 3.3 Navigation
  -------------------------------------------------------------------------- */

a:link, a:visited, a:active {
  text-decoration: none;
  color: $color-one;
  &:hover {
    color: $color-one;
  }
}

/* 4.0 State
  ========================================================================== */

/* 4.1 Plugins
  -------------------------------------------------------------------------- */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

/* 4.2 Animations
  -------------------------------------------------------------------------- */